* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 327px;
  /* height: 535px; */
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 148px;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.main .woman {
  background-image: url("./images/illustration-woman-online-mobile.svg");
  width: 237px;
  height: 180px;
  position: absolute;
  top: 0;
  transform: translateY(-59%);
}
.main h1 {
  padding-top: 132px;
  padding-bottom: 40px;
  color: #1e1f36;
  font-size: 32px;
  font-weight: 700;
}
.questions {
  width: 279px;
  padding-bottom: 48px;
  color: #4b4c5f;
  font-size: 13px;
  font-weight: 400;
}
.question {
  border-bottom: 1px solid #e8e8ea;
}
.question p {
  color: #787887;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: none;
  padding-bottom: 16px;
}
.arup {
  display: none;
}
.arup,
.ardown {
  width: 16px;
  height: 8px;
}
.qandar {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
:not(.rotate) {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
p.show {
  display: block;
  /* Show the <p> element */
}
p:not(.show) {
  display: none;
}
.qandar.change {
  color: #1e1f36;
  font-weight: 700;
}
.qandar:not(.change) {
  color: #4b4c5f;
  font-weight: 400;
}
.qandar:hover {
  color: #f47b56;
  cursor: pointer;
}
.box {
  display: none;

}

@media (min-width: 1200px) {
  .main {
    width: 920px;
    min-height: 509px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: auto 100%;
    background-position: right 525px bottom -5%;
    background-attachment: fixed;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    overflow-x:hidden;
    z-index:-999;
    /* background-size: 388px 120%; */
  }
  .main .woman {
    background-image: url("./images/illustration-woman-online-desktop.svg");
    width: 471.694px;
    height: 358.882px;
    position: relative;
    transform: translateX(-15%);
    
  }
  /* body{
            z-index:999;
        } */
  .questions {
    width: 350px;
  }
  .main h1 {
    padding-top: 65px;
    padding-bottom: 35px;
  }
  .container{
    position:relative;
   z-index:1;
  }
  .box {
    display: block;
    position:absolute;
    left:0;
    top:50%;

    transform: translateX(-50%) translateY(-30%);
  }
}
